@charset "utf-8";

header,footer{
    width:100%;
    height:100px;
    line-height: 100px;/*上下中央に文字を配置*/
    background: #333;
    color:#fff;
    text-align: center;
}
.container{
    display: flex;
}
section{
    margin-bottom:50px;
}
main{
    width:70%;
    padding:4%;
}
img{
    max-width: 100%;
}

/*サイドバー（スティッキーコンテナ）*/
.sidebar{
    width:30%;
    padding:4%;
    background-color: #E0FFFF;
}

/*スティッキーアイテム*/
.sidebar-sticky-info{
    margin-bottom:50px;
    position: sticky;
   position: -webkit-sticky;
    top: 50px;
}

.sidebar-title{
    text-align: center;
}
.profile-photo{
    display:flex;
    justify-content: center; /*左右中央*/
}

.profile-photo img{
   border-radius: 50%; /*画像を丸に*/
}

.banner{
    text-align: center;
    margin-bottom:10px;
}
